<ion-content  padding="">

    <div *ngIf="user === null">
        <ion-grid style="margin-top: 8%">
            <ion-spinner style="margin-left: 45%" ></ion-spinner>
        </ion-grid>
    </div>

    <div *ngIf="user !== null">
        <ion-grid style="margin-top: 4%">
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="8">
                    <div style="width: 126px; margin: auto">
                        <ion-avatar style="width: 125px;height: 125px;">
                            <img href="#" *ngIf="user.photo === null" style=" width: 200px" src="./../../assets/icon/avatar.png">
                            <img href="#" *ngIf="user.photo !== null" style="" [src]="user.photo">
                        </ion-avatar>
                        <div *ngIf="load" style="width: 120px; margin: auto;top: 0;margin-left: 4px;position: absolute;">
                            <img  style="left: 0;
                                top: 0;
                                width: 120px;
                                " src="./../../assets/icon/Spinner-1s-200px.gif" alt="">
                        </div>
                    </div>
                    <br>
                    <div style="width: 50px; margin: auto">
                        <div ion-activatable (click)="presentActionSheet()" style="width: 45px; background: #3880ff; height: 45px; border-radius: 45px;">
                            <ion-ripple-effect role="presentation"></ion-ripple-effect>
                            <ion-icon style="font-size: 1.2em;font-size: 1.2em;
                                            margin-left: 28%;
                                            margin-top: 25%;
                                            color: white;" name="camera"></ion-icon>
                        </div>
                    </div>

                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <ion-card>
                <ion-card-header>
                    <ion-card-title> {{ 'NOM' | translate }} : {{ user.nom }} </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p> {{ 'PRENOM' | translate }} : {{ user.prenom }} </p>
                    <hr>
                    <p> {{ 'LANGUE' | translate }} : <b> {{ user.langue.label }} </b> </p>
                    <p> {{ 'TELEPHONE' | translate }} : <b> {{ user.telephone }} </b> </p>
                    <br><br>

                    <ion-button (click)="onGoToModified()" size="small" expand="full"> {{ 'MODIFIER INFORMATIONS' | translate }} </ion-button>

                </ion-card-content>
            </ion-card>

            <br>

            <ion-button expand="full" color="danger" size="small"> {{ 'SUPPRIMER COMPTE' | translate }} </ion-button>
        </ion-grid>
    </div>


</ion-content>
